Repository 17arhaan/Code_Safe: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write'
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint --fix'
  language: system

typescript-check:
  name: typescript-check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

feat: improve UI visibility and dark theme support
  backend/server.py
  frontend/app/api/analyze/route.ts
  frontend/app/page.tsx
  frontend/components/DetailedVulnerabilityReport.tsx
  frontend/components/VulnerabilityReport.tsx
Due: prettier, eslint, typescript-check

chore: remove large frontend.zip file and add to .gitignore
  .gitignore
Due: none

fix: update deprecated GitHub Actions to latest versions
  .github/workflows/security-analysis.yml
Due: none

Create LICENSE
  LICENSE
Due: none

push
  SECURITY.md
  data_processor.py
  machine_learning_engine.py
  web_scraper_framework.py
Due: prettier

fix: add missing hash for python-dotenv package
  requirements.txt
Due: none

chore: update .gitignore to exclude frontend.zip
  .gitignore
Due: none

feat: add 36 small Python utility files
  temp/python_files/README.md
  temp/python_files/__init__.py
  temp/python_files/api_client.py
  temp/python_files/async_utils.py
  temp/python_files/cache.py
  temp/python_files/config_utils.py
  temp/python_files/constants.py
  temp/python_files/crypto_utils.py
  temp/python_files/data_converters.py
  temp/python_files/database.py
  temp/python_files/date_utils.py
  temp/python_files/decorators.py
  temp/python_files/dict_utils.py
  temp/python_files/email_sender.py
  temp/python_files/encryption.py
  temp/python_files/error_handlers.py
  temp/python_files/exceptions.py
  temp/python_files/file_handler.py
  temp/python_files/format_utils.py
  temp/python_files/io_utils.py
  temp/python_files/list_utils.py
  temp/python_files/logger.py
  temp/python_files/math_utils.py
  temp/python_files/network_utils.py
  temp/python_files/performance_utils.py
  temp/python_files/random_utils.py
  temp/python_files/requirements.txt
  temp/python_files/setup.py
  temp/python_files/string_utils.py
  temp/python_files/test_helpers.py
  temp/python_files/time_utils.py
  temp/python_files/url_utils.py
  temp/python_files/utils.py
  temp/python_files/validation_utils.py
  temp/python_files/validators.py
  temp/python_files/version.py
Due: prettier

Path conditions:
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: ^frontend/node_modules/
  eslint: any of: \.(ts|tsx|js|jsx)$, but not: ^frontend/node_modules/
  typescript-check: any of: \.(ts|tsx)$, but not: ^frontend/node_modules/
